html {
	padding: 60px;
	border: solid crimson 10px;
}

body {
	background: linen;

}

header .title {
	margin-left: 15%;
	color: crimson;
	text-shadow: darkgoldenrod 5px 5px;
	font-size: 4em;
	font-weight: bold;
	font-family: serif;
}

header #basketball {
	width: 100%;
}

#welcome-head {
	font-family: serif;
	font-size: 2.4em;
	color: crimson;
	border-bottom: solid 2px goldenrod;
}

#welcome-message {
	font-size: 1.2em;
	font-weight: lighter;
}

a:visited {
	color: gray;
}

.prospect-head {
	font-size: 1.6em;
	color: crimson;
}

.prospect-info {
	color: black;
	font-size: 1.2em;
}

.prospect-list {
	color: darkred;
	font-size: 1em;
}

#ravi-quote {

}

#postgame-head {
	font-family: serif;
	font-size: 2.4em;
	color: crimson;
	border-bottom: solid 2px goldenrod;
}

.postgame-info {
	font-size: 1.2em;
	font-weight: lighter;
	color: black;
	margin-top: -6%;
	background-image: url("images/Cyborg man.jpg");
	background-size: 100% 100%;
}

#form-info {
	border: crimson solid 2px;
}

#other {
	border: 2px black solid;
	margin-top: 8%;
}

footer {
	font-family: serif;
	color: crimson;
	text-shadow: darkgoldenrod 5px 5px;
	font-size: 1.4em;
	margin: 0 auto;
	display: block;
	width: 35%;
}

@media screen and (max-width: 500px) {
	.postgame-info {
		color: darkred;
	}

	footer {
		font-size: 1.2em;
	}
}